<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
   <div class="promo">
        <img class="promo__icon" src='{{require path="code.svg"}}' alt="code">
        <span class="promo__text">Write you code...</span>
   </div>
</body>
</html>